<div class="header background" ng-show="visible">
    <div class="nav-bar">
        <div class="nav-items">
            <!--<i class="fa fa-home nav-item" aria-hidden="true" ui-sref="menu"></i>-->
            <i class="fa fa-chevron-circle-left nav-item" aria-hidden="true" ng-click="goBack()" ng-if="showBack()"></i>
            <span>{{state}}</span>
            <span>{{title}}</span>
        </div>
        <div class="clock">
            <span ng-loading><img src="images/rolling.svg"></span>
            <span ng-show="time">{{time}}</span>
        </div>
    </div>
</div>