<div class="keyboard">
    <div>
        <div ng-key="1" class="key nav-item">1</div>
        <div ng-key="2" class="key nav-item">2</div>
        <div ng-key="3" class="key nav-item">3</div>
        <div ng-key="4" class="key nav-item">4</div>
        <div ng-key="5" class="key nav-item">5</div>
        <div ng-key="6" class="key nav-item">6</div>
        <div ng-key="7" class="key nav-item">7</div>
        <div ng-key="8" class="key nav-item">8</div>
        <div ng-key="9" class="key nav-item">9</div>
        <div ng-key="0" class="key nav-item">0</div>
        <div ng-key="[Backspace]" class="key nav-item"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
    </div>
    <div>
        <div ng-key="q" class="key nav-item">q</div>
        <div ng-key="w" class="key nav-item">w</div>
        <div ng-key="e" class="key nav-item">e</div>
        <div ng-key="r" class="key nav-item">r</div>
        <div ng-key="t" class="key nav-item">t</div>
        <div ng-key="y" class="key nav-item">y</div>
        <div ng-key="u" class="key nav-item">u</div>
        <div ng-key="i" class="key nav-item">i</div>
        <div ng-key="o" class="key nav-item">o</div>
        <div ng-key="p" class="key nav-item">p</div>
    </div>
    <div>
        <div ng-key="a" class="key nav-item">a</div>
        <div ng-key="s" class="key nav-item">s</div>
        <div ng-key="d" class="key nav-item">d</div>
        <div ng-key="f" class="key nav-item">f</div>
        <div ng-key="g" class="key nav-item">g</div>
        <div ng-key="h" class="key nav-item">h</div>
        <div ng-key="j" class="key nav-item">j</div>
        <div ng-key="k" class="key nav-item">k</div>
        <div ng-key="l" class="key nav-item">l</div>
    </div>
    <div>
        <div ng-key="z" class="key nav-item">z</div>
        <div ng-key="x" class="key nav-item">x</div>
        <div ng-key="c" class="key nav-item">c</div>
        <div ng-key="v" class="key nav-item">v</div>
        <div ng-key="b" class="key nav-item">b</div>
        <div ng-key="n" class="key nav-item">n</div>
        <div ng-key="m" class="key nav-item">m</div>
    </div>
    <div>
        <div ng-key="[Space]" class="key nav-item space">Space</div>
    </div>
</div>

