<div class="container background">
    <nav-bar></nav-bar>
    <div class="content">
        <div class="menu">
            <div class="list">
                <ul>
                    <li class="nav-item nav-start" ui-sref="channels.list"><i class="fa fa-television" aria-hidden="true"></i>Телевидение</li>
                    <li class="nav-item" ui-sref="vod.genres"><i class="fa fa-film" aria-hidden="true"></i>Кинозал</li>
                    <li class="nav-item" ui-sref="personal_cab"><i class="fa fa-id-card" aria-hidden="true"></i>Личный кабинет</li>
                    <!--<li class="nav-item" ui-sref="settings"><i class="fa fa-sliders" aria-hidden="true"></i>Настройки</li>-->
                    <li class="nav-item" ui-sref="exit"><i class="fa fa-sign-out" aria-hidden="true"></i>Выход</li>
                </ul>
            </div>
        </div>
    </div>
</div>
