<div class="container background">
    <nav-bar></nav-bar>
    <div class="content">
        <div class="genres">
            <ul class="list">
                <div class="list-nav-up">
                    <div class="nav-item list-scroll-up click phantom"
                         ignore-mouse
                         ng-click="pageUp()"
                         ng-if="currentPage > 1"
                         tabindex="1">
                    </div>
                </div>
                <li class="nav-item"
                    ng-repeat="genre in genres.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                    ui-sref="vod.genres.movies({genreId: genre.id})"
                    ng-focus="openGenre(genre.id, $index)"
                    ng-blur="cancelLoading()"
                    tabindex="1">
                    {{genre.title}}
                </li>
                <div class="list-nav-down">
                    <div class="nav-item list-scroll-down click phantom"
                         ignore-mouse
                         ng-click="pageDown()"
                         ng-if="currentPage < pageCount"
                         tabindex="1">
                    </div>
                </div>
            </ul>
        </div>
        <div class="movies">
            <ui-view></ui-view>
        </div>
    </div>
</div>