<div class="container background">
    <div class="content">
        <div class="center">
            <div class="warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
            <div class="text-block">
                <h2>Соединение с сетью было разорвано!</h2>
                <h3>Проверьте подключение к интернету, и перезапустите приложение.</h3>
            </div>
            <div class="button nav-item" ui-sref="menu">Меню</div>
        </div>
    </div>
</div>
