<div class="container background">
    <div class="content center">
        <div class="controls">
            <span class="caption caption-big">Введите код, полученный в SMS сообщении:</span>
            <div>
                <span class="input center" ng-keypad-input="numeric" ng-model="code" tabindex="1">
                    {{code}}<span class="cursor">|</span>
                </span>
            </div>
            <div class="next-button">
                <div class="button center nav-item" ng-click="setCode(code)">Далее</div>
            </div>
        </div>
        <ng-keyboard></ng-keyboard>
    </div>
</div>