<div class="container background">
    <div class="content center">
        <div class="controls">
            <p class="caption caption-big">Регистрация в один шаг!</p>
            <span class="caption">Ваш номер телефона:</span>
            <div>
                <span class="caption caption-big">+38</span>
                <span class="input center" ng-keypad-input="numeric" ng-model="phone" tabindex="1">
                    {{phone}}<span class="cursor">|</span>
                </span>
            </div>
            <div class="err-msg" ng-show="errMsg">
                {{errMsg}}
            </div>
            <div class="next-button">
                <div class="button center nav-item" ng-click="setPhone(phone)">Далее</div>
            </div>
        </div>
        <ng-keyboard></ng-keyboard>
    </div>
</div>
<ui-view></ui-view>