#channel-list {
    width: 40%;
    display: inline-block;
}

#channel-epg {
    width: 58%;
    height: 600px;
    vertical-align: top;
    display:inline-block;
}

.channel-epg-small {
    display: block;
    /*position: absolute;*/
    bottom: 0;
    /*margin-bottom: 15px;*/
    margin: 0 auto;
    width: 100%;
    border-radius: 7px;
    vertical-align: bottom;
    /*width: 1043p*/
}