@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.otf') format('opentype'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font: inherit;
    outline: none;
}

body {
    font-family: 'MyriadPro-Bold';
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}

#player, #video, video {
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
}

.container {
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparent-full {
    background-color: rgba(0, 0, 0, 0);
}

a, a:visited {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.background {
    background: #525c67;
}

.focus:not(.phantom) {
    background-color: #32989c !important;
    cursor: pointer;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.content {
    padding: 15px;
    width: 1280px;
    height: 720px;
    box-sizing: border-box;
}

.caption {
    color: #32989c;
}

.caption-big {
    font-size: 38px;
}

.next-button {
    /*margin-top: 50px;*/
}

.fa {
    min-width: 50px;
    text-align: center;
}

.warning {
    color: #FFEB3B;
    font-size: 77px;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100% !important;
}

.text-block {
    margin-top: 25px;
    margin-bottom: 25px;
}