.list {
    border-radius: 7px;
    overflow: hidden;
    white-space: nowrap;
}

.list li {
    height: 70px;
    padding-left: 20px;
    background: #414c58;
    text-transform: uppercase;
    line-height: 70px;
    list-style: none;
    text-overflow: ellipsis;
}

.list li:nth-child(odd) {
    background: #363F49;
}

.list li img {
    padding-right: 10px;
    vertical-align: middle;
}

.list-nav-up {
    height: 20px;
    background: #363F49;
    padding-top: 3px;
}

.list-nav-down {
    height: 20px;
    background: #414c58;
    padding-top: 3px;
}

.list-scroll-up {
    width: 0;
    height: 0;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #AEB0B3 transparent;
    border-style: solid;
    margin: 0 auto;
}

/*.list-scroll-up:focus {*/
    /*border-color: transparent transparent #32989C transparent;*/
/*}*/

.list-scroll-up:hover {
    border-color: transparent transparent #32989C transparent;
}

.list-scroll-down {
    width: 0;
    height: 0;
    border-width: 16px 16px 0 16px;
    border-color: #AEB0B3 transparent transparent transparent;
    border-style: solid;
    margin: 0 auto;
}

/*.list-scroll-down:focus {*/
    /*border-color: #32989c transparent transparent transparent;*/
/*}*/

.list-scroll-down:hover {
    border-color: #32989c transparent transparent transparent;
}