.playback-control {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    border-radius: 7px;
}

.playback-control-buttons {
    text-align: center;
    margin-top: 15px;
}

.playback-seek-bar {
    height: 12px;
    border: 1px solid #32989C;
    position: relative;
    top: -4px;
    display: inline-block;
    width: 1043px;
}

.playback-seeker {
    height: 25px;
    width: 8px;
    background-color: white;
    position: relative;
    top: -18px;
    color: white;
}

.playback-time-elapsed {
    display: inline-block;
    width: 90px;
    text-align: center;
}
.playback-time-remaining {
    display: inline-block;
    width: 90px;
    text-align: center;
}

.playback-control-progress {
    padding: 5px;
}

.playback-fill {
    width: 0;
    height: 12px;
    background-color: #32989C;
}