.genres {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.movies {
    display: inline-block;
    vertical-align: top;
    width: 833px;
    margin-left: 10px;
}


.movie-poster {
    display: inline-block;
}

.movie-short-info {
    width: 76%;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    float: right;
    border: 2px solid #32989c;
    border-radius: 7px;
    padding: 10px;
    font-size: 27px;

}

.movie-short-info table {
    width: 100%;
}


.movie-short-info table td:first-child {
    width: 300px;
    height: 40px;
    vertical-align: top;
}

.movie-short-info table td {
    width: 600px;
    height: 40px;
}

.movie-about {
    width: 100%;
    height: 158px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 15px;
    border: 2px solid #32989c;
    border-radius: 7px;
    line-height: 30px;
    padding: 10px;
    font-size: 27px;
}

.movie-play-button {
    position: relative;
    top: 160px;
    left: 45px;
}

.movie-poster {
    width: 275px;
    height: 400px;
}

.movie-poster img  {
    width: 275px;
    height: 400px;
    position: absolute;
}

.movie-favourites {
    font-size: 25px;
}